PORT=5000
MONGODB_URI=mongodb://localhost:27017/janya-masala
JWT_SECRET=janya_masala_super_secret_key_2024
JWT_EXPIRE=7d
ADMIN_EMAIL=janyamasala@gmail.com
ADMIN_PASSWORD=admin123
NODE_ENV=development
